.show-plan{
    height: 5rem;
    text-align: center;
    width: 8rem;
    top: 2rem;
    position: relative;
    background-color: #e4c0a8;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    border: 2px solid #c08457;
    color: navy;
}
.plans-main0{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid #4cb9f8;
    width: 10rem;
    text-align: -webkit-center;
    background-color: paleturquoise;
}
.plans-main1{
    display: block;
    position: absolute;
    top: 50%;
    left: 65%;
    border-radius: 10px;
    border: 2px solid #4cb9f8;
    width: 10rem;
    text-align: -webkit-center;
    background-color: paleturquoise;

}
.plans-main2{
    display: block;
    position: absolute;
    top: 50%;
    left: 80%;
    border-radius: 10px;
    border: 2px solid #4cb9f8;
    width: 10rem;
    text-align: -webkit-center;
    background-color: paleturquoise;

}
.show-city{
    position: relative;
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.show-cost{
    position: relative;
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: 500;
}
.plans-childs{
    height: 250px;
    margin-bottom: 3rem;
}
.plan-days{
    top: 0.5rem;
    position: relative;
}
.total-cost{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}