.trip-main{
  border-radius: 25px;
  border: 2px solid #4cb9f8;
  position: absolute;
  top: 10%;
  left: 35%;
  width: 25rem;
  height: 20rem;
  background-image: url(./assets/travel.jpg);
  background-size: cover;
}
.checkbox-form-group{
  margin: 1rem;
}
.loading-button{
  position: relative;
  width: 50%;
  align-self: center;
}
.label{
  text-align: center;
}
.images-main{
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
}
.alarm-info{
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 20rem;
  height: 2rem;
}
.plans-header0{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-size: 1rem;
  z-index: 10;
  margin-left: 4rem;
}
.plans-header1{
  display: block;
  position: absolute;
  top: 50%;
  left: 65%;
  font-weight: 500;
  font-size: 1rem;
  z-index: 10;
  margin-left: 4rem;
}
.plans-header2{
  display: block;
  position: absolute;
  top: 50%;
  left: 80%;
  font-weight: 500;
  font-size: 1rem;
  z-index: 10;
  margin-left: 4rem;
}
.label{
  font-size: 1rem!important;
  font-weight: 700!important;
  top: 1rem!important;
  color:#1976d2!important;
}